<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partie en cours</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div style="margin-bottom: 20px;">
            <a href="/" class="btn btn-secondary" style="font-size: 14px; padding: 8px 16px;"
               onclick="return confirm('Êtes-vous sûr de vouloir quitter la partie ?')">
                ← Retour à l'accueil
            </a>
        </div>
         <!-- Info des joueurs -->
        <div class="info-joueurs">
            <div class="joueur-card {{if eq .JoueurActuel 1}}actif{{end}}">
                <div class="pastille-petite jeton-{{.Joueur1.Couleur}}"></div>
                <div>
                    <p style="font-size: 12px; color: #999; margin: 0;">Joueur 1</p>
                    <p style="margin: 0; font-weight: bold;">{{.Joueur1.Pseudo}}</p>
                </div>
            </div>
            
            <div class="joueur-card {{if eq .JoueurActuel 2}}actif{{end}}">
                <div class="pastille-petite jeton-{{.Joueur2.Couleur}}"></div>
                <div>
                    <p style="font-size: 12px; color: #999; margin: 0;">Joueur 2</p>
                    <p style="margin: 0; font-weight: bold;">{{.Joueur2.Pseudo}}</p>
                </div>
            </div>
        </div>